/* http://devtacular.com/articles/bkonrad/how-to-style-an-application-like-facebook */
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
}

.btn {
	background-color: #4169e1;
	color: #FFF;
}

.btn:hover{
	color: #FFF;
}  

/* http://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
.image-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #FFF;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

/* HOME NAV BAR */

.hnav {
	background-color: #3b5998;
	height: 75px;
}

.hnav h1 {
	color: #FFF;
	float: left;
	height: 100%;
	font-weight: bold;
}

.hnav span {
	float: right;
	line-height: 75px;
}

/* SIGN UP */

.signup {
	padding-left: 30px;
	float: left;
}

.signup h1 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.signup form {
	padding-top: 10px;
}

.signup form button {
	margin-top: 20px;
}

/* LOG IN */

.login form {
	color: #FFF;
	padding-right: 20px;
}

/* REGULAR NAV BAR */

.rnav {
	background-color: #3b5998;
	height: 50px;
}

.rnav .row {
  line-height: 50px;
}

.rnav .miniprofilephoto {
	width: 20px;
}

.rnav .btn {
	float: right;
	height: 50px;
}

.rnav p {
	color: #FFF;
	font-size: 30px;
	line-height: 50px;
	float: left;
}

.rnav a {
	color: #FFF;
	font-size: 14px;
	line-height: 50px;
}

.rnav a:hover{
	color: #FFF;
}

.rnav .col-md-7 {
	padding-left: 0px;
}

/* SEARCH BAR */

.searchbar input {
  line-height: 25px;
  width: 85%;
}


/* NEWSFEED */

.newsfeed {
	padding-top: 40px;
}

.newsfeed a {
	font-size: 14px;
	color: #000;
	line-height: 25px;
}

.newsfeed .smallprofilephoto {
	width: 20px;
}

/* PROFILE */

.profile {
	padding-bottom: 30px;
}

.profilephotos .panel {
	margin-top: 30px;
	border: none;
}

.profilephotos .image-style {
	position: relative; 
	left: 0; 
	top: 0;
}

.profilephotos .coverphoto {
	width: 100%;
	height: 300px;
	position: relative;
	top: 0;
	left: 0;
}

.profilephotos .largeprofilephoto {
	width: 100px;
	position: absolute; 
	bottom: 15px; 
	left: 30px;
}

.profilephotos .name {
	position: absolute;
	bottom: 15px;
	left: 0px;
	letter-spacing: -2.5px;
	color: #FFF;
	font-size: 30px;
}

.profile ul li {
  display: block;
}

.profile ul li .btn {
  width: 100%;
  background-color: #DCDCDC;
  padding: 30px;
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #D3D3D3;
}

.profile ul li a {
  color: #000;
}

.profile ul li .btn:hover {
  background-color: #D3D3D3;
  color: #000;
  text-decoration: none;
}

/* STATUS INPUT */

.statusinput textarea {
  width: 100%;
  max-width: 100%;
  resize: none;
  border: none;
}

.statusinput .align-right {
	text-align: right;
}

.statusinput ul {
  padding: 0;
}

.statusinput ul li {
  display: inline-block;
  padding-right: 20px;
}

.statusinput img {
  width: 150px;
  height: 150px;
}

/* MY STATUS LIST */

.mystatuslist .panel-heading {
	height: 40px;
}

.mystatuslist .delete {
	vertical-align: center;
	float: right;
}

/* SETTINGS */

.settings .row {
	padding-bottom: 20px;
}